/* styleing your wiews home in here.. */
@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #182532;
  overflow: hidden;
  margin: 0px;
  user-select: none;
  /* background: url('https://github.com/FrankyRay/Random-Stuff/blob/main/Blue-Sky.jpg?raw=true'); */
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#container {
  color: white;
  font-family: "Wellfleet", monospace;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px double #99c9e5;
  border-radius: 5px;
  overflow: hidden;
  margin: 5%;
  padding: 6%;
  animation: borderWitdh 5s ease;
  z-index: 9999;
  /*box-shadow: 0 20px 20px rgba(180, 180, 180, 0.4);*/
  /*background: black;*/
  /*background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://raw.githubusercontent.com/FrankyRay/GBRlogoLK/main/Desain%20tanpa%20judul.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  background: transparent;
}
@keyframes borderWitdh {
  0% {
  border: 2px double #99c9e500;
  }
  100% {
  border: 2px double #99c9e5;
  }
}
.logo-lk {
  position: absolute;
  top: 0;
  right: 0;
}

#popup-win {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 80%;
  height: 60%;
  border-radius: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://raw.githubusercontent.com/FrankyRay/GBRlogoLK/main/Desain%20tanpa%20judul.jpg");

  box-shadow: 0 0 50px rgba(220, 180, 180, 0.7);
  z-index: 9999;
}

@keyframes muncul {
  20% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }
}

@keyframes bxsh {
  20% {
    box-shadow: 5px -5px 20px #e83030;
  }

  40% {
    box-shadow: 0 5px 20px #30e862;
  }

  60% {
    box-shadow: 5px -5px 20px #3060e8;
  }
}

#txt-win {
  color: white;
  text-align: center;
  font-weight: 1000;
  font-size: 5em;
  padding: 0 20px;
}
/*
@keyframes bbottom {
  20% {
    border-bottom: 3px solid #3060e8;
  }

  40% {
    border-bottom: 3px solid #30e862;
  }

  60% {
    border-bottom: 3px solid #e83030;
  }

  80% {
    border-bottom: 3px solid #ebea52;
  }
}

@keyframes tshadow {
  20% {
    text-shadow: 0 0 30px #30e862;
  }

  40% {
    text-shadow: 0 0 30px #3060e8;
  }

  60% {
    text-shadow: 0 0 30px #e83030;
  }

  80% {
    text-shadow: 0 0 30px #ebea52;
  }
}
*/

@keyframes acakP {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  20% {
    opacity: 1;
    transform: scale(1);
  }

  40% {
    opacity: 0.7;
    transform: scale(0.6);
  }

  80% {
    opacity: 0;
    transform: scale(0.3);
  }
}

#number-generator {
  font-weight: 800 !important;
  font-family: "Wellfleet", Sans-Serif !important;
 /* animation: fadeIn;
  animation-duration: 2.5s;*/
      /*   color: transparent !important;
      text-shadow: 0 0 4px #fff; */
}

.atena1 {
  background: #ed6825;
  width: 10px;
  height: 35px;
  transform: rotate(-50deg);
}

.atena2 {
  transform: rotate(50deg);
  background: #ed6825;
  width: 10px;
  height: 35px;
}

.con-atena {
  display: flex;
  gap: 5px;
  flex-direction: row;
  position: absolute;
  top: 5%;
}

.animationText {
  animation: linearText 0.15s linear infinite !important;
}

@keyframes linearText {
  0% {
    transform: translateX(300%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-200%);
  }
}

/* #title, #title-dp, #number-generator {
} */
#title {
  font-weight: 450 !important;
  letter-spacing: 2px;
  margin-bottom: 10%;
  animation: backInRight;
  animation-duration: 1s;
}

#title-dp {
  margin-bottom: 10%;
  /*animation: bbottom 3s ease infinite alternate;
    animation: tshadow 4s ease infinite alternate;*/
  border-bottom: 3px solid white;
  animation: fadeInDown;
  animation-duration: 1s;
}

#title-dp, #title {
  font-family: "Poppins", Sans-Serif !important;
  font-weight: 700;
  white-space: nowrap;
}
.dev-setting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: #1b1e39;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.con-box-dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  /* gap: 70px; */
}

.box-dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 180px;
  border-radius: 3px;
  margin: 10px;
  background: rgba(0, 0, 0, .2);
}
.con-text {
  margin-bottom: 10%;
}


@keyframes bouceP {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
.blink-ng {
  height: 150px;
  background: #6262624a;
}
/* media screen for device handphone */
@media only screen and (max-width: 768px) {
.con-text {
  margin-bottom: -10% !important;
}
  #title {
    margin: 0px;
    font-size: 1em;
  }
  #congrats {
    margin: 0;
    position: fixed;
    font-size: .6em !important;
  }

  #number-generator {
    margin: 0px;
    font-size: 5em;
    color: white;
    /*   -webkit-text-stroke: 6px black; */
  }

  .logo-lk {
    margin-top: 2px;
    width: 30px;
  }

  #txt-win {
    font-size: 2em;
  }

  #popup-win {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #container {
    border-radius: 5px;
    margin: 3%;
    width: 90%;
    padding: 15%;
  }
  
  .box-dev {
    margin: 5px;
    width: 170px;
    height: 130px;
  }
/* 
  .atena1 {
    width: 5px;
    height: 15px;
  }

  .atena2 {
    width: 5px;
    height: 15px;
  }

  .con-atena {
    position: absolute;
    top: 0;
  } */
}


/* media screen for desktop mode*/
@media only screen and (min-width: 768px) {
.con-text {
  margin-bottom: 8% !important;
}
  #congrats,
  #title {
    margin: 0px;
    font-size: 5em;
  }

  #congrats {
    position: fixed;
    bottom: 13%;
  }

  #number-generator {
    margin: 0px;
    font-size: 15em;
    color: white;
    /*   -webkit-text-stroke: 6px black; */
  }
  #title {
  letter-spacing: 4px;
  }
  #title-dp {
    margin: 0px;
    padding: 0;
    font-size: 3em;
  }

  .logo-lk {
    margin-top: 45px;
    margin-right: 45px;
    width: 80px;
  }
  
  #popup-win {
    height: 70%;
  }

  #txt-win {
    font-size: 4.5em;
  }

  #container {
    border-radius: 5px;
    width: 90%;
    margin: 5%;
    padding: 10%;
  }

  /* atur height bar utk kompoter disini yah*/
 /* .con-atena {
    position: absolute;
    top: 4%;
  } */
}